body {
     font-family: "Tsukushi A round gothic", "santyoume-font";
      }

header{
  background-color: rgba(255, 255, 255, 0);
  border: 0px solid #E7E7DB;
  width: 100%;
  /*height:80px;*/
  position: fixed;
  top: 0;
  z-index: 10;
}


li{
  list-style: none;
}
.container{
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
  max-width: 970px;
}
.top-img{
  width: auto;
  /*height: 700px;*/
}
header.button{
  border-radius: 50%;
  background-color:white;
  width: 30%;
  height: 30%;
  /*margin-top: 30px;
  margin-right: 20px;
  margin-left: 200px;*/
  font-size: 1rem;
  border: 0;
  background-color: white;
}

.header-right .button{
  background-color: white;
  border: 0px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.header-right .button i{
  font-size: 3rem;
}
header i{
  color: #A4D2B1;
}
header ul{
  float: right;
  margin-top: 20px;
}
header li{
  display: inline-block;
  margin-right: 10px;
}

.disappear{
  /*font-size: 30px;*/
  color: #A4D2B1;
  display: none;
}

.header-left {
  font-size: 40px;
  display: inline-block;
  float: left;
  color: #A4D2B1;
  margin: 0;
  margin-top: 10px;
  margin-left: 30px;
  cursor: pointer;
}

/*top*/
.piyo{
  background-image: url(./image/piyo-wagashi.png);
  width:100%;
  padding:200px 0 400px 0;
  background-size: cover;
  /*text-align:center;*/
  background-position: 20% 40%;
}
.usagidayo{
  background-image: url(./image/usagidayo.png);
  width:100%;
  padding:200px 0 400px 0;
  background-size:cover;
  min-width: 800px;
  /*text-align:center;*/
  /*position: center center;*/
    background-position: 20% 40%;
}

.kingyo{
  background-image: url(./image/kingyogyogyo.png);
  width:100%;
  padding:200px 0 400px 0;
  background-size:cover;
  /*text-align:center;*/
  /*position: center center;*/
    background-position: 20% 40%;
}

.favorite i{
  font-size: 2rem;
}
.top-img{
  width: 100%;
  /*margin-top: 0px;*/
}

.wagashi-topimg{
  text-align: center;
}
#wagashi-carousel img {
  display: inline-block;
}

.sky, .land, .river{
  height: 120px;
  width: 120px;
  margin-right: 8px;
}
.cadegory-btn{
 text-align: center;
}
.title{
  text-align: center;
}
.title .text{
 font-size: 35px;
 color: #A4D2B1;
 margin-top: 20px;
}

.title .detail{
  font-size: 15px;
  color: #8EC6CC;
  width: 100%;
  text-align: center;
  margin: 0 20px;
  }
  .other{
    display: none;
  }

/*sky*/
#sky ul{
  padding-left: 0px;
}
.sky-title{
  width: 100%;
  height: 100%;
  margin-top: 20px;
}
.item-img, .item-img2{
  border-radius:15%;
  width: 170px;
  height: 119px;
  /*margin: 0 30px;*/
  margin-top: 30px;
}

/*.item-img{
  margin-right: px;
}*/

.item-img2{
  margin-left:0px;
}
#sky li{
  display: inline-block;
  text-align: center;
  padding-left: 0px;
}

#sky li i{
  font-size: 3rem;
  margin-top: 5px;
  color: #E17183;
}

.name{
  font-size: 28px;
}
.price{
  font-size: 18px;
}
.store{
  font-size: 18px;
}

#sky p{
  color: #B98D53;
  margin-top: 10px;
  margin-bottom: 10px;
}

#sky .pc {
  display: none;
}
/*sky のbutton*/
 main button{
border-radius: 10px;        /* CSS3草案 */
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 10px;
    border:0;
    width: 300px;
    height: 70px;
    background-color: #8EC6CC;
    margin-top: 20px;
    margin-right:40px;
    margin-left: 40px;
    margin-bottom: 50px;

}

.more{
  font-size: 25px;
  font-family: Tsukushi A round gothic;
  color: white;
  margin-top: 10px;
}

/*land*/
#land ul{
  padding-left: 0px;
}

#land li{
  display: inline-block;
  text-align: center;
}
.more2{
  background-color: #A4D2B1;
}
#land p{
  color: #B98D53;
  margin-top: 10px;
  margin-bottom: 10px;
}
#land li i{
  font-size: 3rem;
  margin-top: 20px;
  color: #E17183;
}
#land .pc {
  display: none;
}

/*river*/

#river li{
  display: inline-block;
  text-align: center;
  padding-left: 0px;
}
#river p{
  color: #B98D53;
}

#river ul{
  padding-left: 0px;
}

#river li i{
  font-size: 3rem;
  margin-top: 10px;
  color: #E17183;
}

#river .pc {
  display: none;
}



/*footer*/
footer button{
  border-radius: 50%;
background-color:#ca3356;
width: 50px;
height: 50px;
margin-top: 30px;
margin-right: 10px;
font-size: 2.5rem;
border: 0;
}

.big-contact{
  border: 0px solid #C79465;
  background-color: #C79465;
  padding-bottom: 20px;
  padding-top: 20px;
}

.big-contact h2{
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: normal;
}

.big-contact li{
  color: white;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.contact-button li{
  display: inline-block;
  margin: 0 auto;
}

.contact-button i{
  color: white;
  margin: 0 auto;
}

.contact-button{
 text-align: center;
 padding-left: 0px;
 /*margin-right: 90px;*/
}
.facebook{
  background-color: #8EC6CC;
}
.twitter{
  background-color: #A4D2B1;
}
.insta {
  background-color: #377C97;
  /*padding: 0px;*/
}

footer{
  margin-bottom: 100px;
}

/*.heart i{
  display: none;
}*/
